#calendar {
    width: 21em;
}

/* day type rule */
.day-name {
    font-weight: bold;
}

.not-belong {
    color: lightgray;
}
.weekend {
    color: rgb(255, 49, 45);
}

.navigation {
    text-align: center;
}
.navigation-info {
    display: inline-block;
    width: 10em;
}
.nav-btn {
    display: inline-block;
}
button {
    background-color: whitesmoke;
    border-style: none;
}

button:focus {
    background-color: rgb(128, 176, 252);
    border: 0;
    outline: none;
    color: white !important;
}

.calendar {
    width: 21em;
}
.day-render {
    display: inline-block;
    padding: .2em;
    text-align: center;
    width: 3em;
}


