#calendar {
    width: 21em;
}

/* day type rule */
.day-name {
    font-weight: bold;
}

.not-belong {
    color: rgb(243, 243, 243);
}
.weekend {
    color: rgb(255, 49, 45);
}


.today {
    background-color: rgb(117, 216, 255);
}

.navigation {
    text-align: center;
}
.navigation-info {
    display: inline-block;
    width: 50%;
    font-weight: bold;
}
.nav-btn {
    display: inline-block;
}
button {
    background-color: rgb(219, 219, 219);
    border: none;
}

button:hover {
    cursor: pointer;
}


.calendar {
    width: 100%;
}

.day-render {
    display: inline-block;
    padding: .2em;
    text-align: center;
    width: 14.285%;
    margin-top: .1em;
    box-sizing: border-box;
}

.day-render:focus {
    border: 2px solid blueviolet;
    outline: none;
    color: white !important;
}

/* months style */
.month-render {
    padding: .2em;
    width: 5.25em;
    text-align: center;
    margin-top: .1em;
}

/* Notes style */
.note-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin-top: 0.5em;
}
.note-title, .note-body {
    padding-left: 10%;
}
.note-title {
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(162, 195, 249);
}